.App {
	text-align: center;
}

.App-header {
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: orange;
}

.color-picker {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

button {
	width: 12rem;
	height: 4rem;
	border-radius: 1rem;
	border: none;
	outline: none;
	cursor: pointer;
	color: black;
	font-size: large;
	font-weight: 800;
	margin: 2rem;
}
